version: "3.3"
services:
  web:
    build: ./front
    depends_on:
      - api
    ports:
      - "3000:3000"
    networks:
      - network-backend
    restart: always
  api:
    build: ./node_api
    ports:
      - "3001:3001"
      - "3002:3002"
    networks: 
     - network-backend
    restart: always
    volumes:
      - type: bind
        source: /home/mihanich/share/video
        target: /app/video
      - type: bind
        source: /home/mihanich/share/images
        target: /app/images

networks:
  network-backend:
