.row-component {
  position: relative;
}

.row-component.m-select {
  z-index: 101;
}

.row-control {
  position: absolute;
  height: 132px;
  right: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.row-content {
  height: 100%;
  position: relative;
  z-index: 100;
  margin: 5px 0px 5px 0px;
  border-radius: 2px;
  background-color: rgb(90, 155, 252, 0.5);
}

.row-control div {
  padding: 6px;
}

.row-component > .row-control, .row-control:hover {
  transform: translateX(26px);
}

.row-label {
  padding: 5px;
  margin: 0px;
  opacity: 0.7;
}

.row:empty {
  height: 132px;
}

.glyphicon-plus, .glyphicon-remove {
  padding-left: 1px;
}

.add-row {
  position: relative;
  z-index: 100;
  background-color: #fff;
  border: 1px dashed black;
  height: 35px;
  padding-left: 0px;
  margin: 5px 0px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  height: 100px;
  background-color: rgb(90, 155, 252, 0.2);
}

.add-row:hover {
  cursor: pointer;
}

.add-row .glyphicon-plus, .new-col .glyphicon-plus {
  padding-top: 8px;
}

.row-control > *:hover {
  cursor: pointer;
}

.row-height {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: rotate(-90deg);
  font-size: 12px;
}

.btn-icon:hover .subtitle-btn {
  visibility: visible;
  opacity: 1;
  transform: translate(-20px, -50%);
}

.subtitle-btn {
  position: absolute;
  font-size: 14px;
  white-space: nowrap;
  top: 50%;
  right: 100%;
  transform: translate(0, -50%);
  visibility: hidden;
  opacity: 0;
  transition: transform, opacity 0.8s ease-in-out;
  color: black;
  font-family: Arial;
}